<!DOCTYPE html>
<html lang="en" class="no-js">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Animated Background Headers | Demo 2</title>

    <link rel="stylesheet" type="text/css" href="__STATIC__/welcome/css/normalize.css" />
    <link rel="stylesheet" type="text/css" href="__STATIC__/welcome/css/demo.css" />

    <!--必要样式-->
    <link rel="stylesheet" type="text/css" href="__STATIC__/welcome/css/component.css" />

    <!--[if IE]>
    <script src="__STATIC__/welcome/js/html5.js"></script>
    <![endif]-->
</head>
<body>
<div class="container demo-2">
    <div class="content">
        <div id="large-header" class="large-header">
            <canvas id="demo-canvas"></canvas>
            <h1 class="main-title"> 绿色农业平台</h1>
        </div>
    </div>
</div><!-- /container -->
<script src="__STATIC__/welcome/js/rAF.js"></script>
<script src="__STATIC__/welcome/js/demo-2.js"></script>
</body>
</html>