<aside class="Hui-aside">
	<div class="menu_dropdown bk_2">
		<dl id="menu-article">
			<dt><i class="Hui-iconfont">&#xe616;</i> 产品管理<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
			<dd>
				<ul>
				  <li><a data-href="{:url('news/add')}" data-title="添加管理" href="javascript:void(0)">添加管理</a></li>
					<li><a data-href="{:url('news/index')}" data-title="产品内容管理" href="javascript:void(0)">产品内容管理</a></li>
				</ul>
			</dd>
		</dl>

		<dl id="menu-comments">
			<dt><i class="Hui-iconfont">&#xe622;</i> 实时数据<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
			<dd>
				<ul>
					<li><a data-href="{:url('countdata/index')}" data-title="系统播报数据" href="javascript:;">系统播报数据</a></li>
					<li><a data-href="{:url('showdata/index')}" data-title="传感器测量数据" href="javascript:void(0)">传感器测量数据</a></li>
				</ul>
			</dd>
		</dl>

		<dl id="menu-admin">
			<dt><i class="Hui-iconfont">&#xe62d;</i> 管理员管理<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
			<dd>
				<ul>
				  <li><a data-href="{:url('admin/add')}" data-title="添加用户" href="javascript:void(0)">添加用户</a></li>
				</ul>
			</dd>
		</dl>

	</div>
</aside>
<div class="dislpayArrow hidden-xs"><a class="pngfix" href="javascript:void(0);" onClick="displaynavbar(this)"></a></div>